* {
    padding: 0;
    margin: 0;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

button {
    margin-top: 10%;
    padding: 10px 40px;
    font-size: 1em;
}

.board {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    height: 40vh;
    width: 40vh;
    align-items: center;
}

.board>div {
    height: 100%;
    width: 100%;
    background-color: gray;
    border: 3px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
}

.board div>p {
    font-size: 6em;
}

.board div>p:hover {
    cursor: default;
}

